<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <h1>Index</h1>
      <img
        style="max-width: 10em; min-width: 100%"
        src="../img/e72044ab-00d1-4025-bc38-f59d9f8f0720.webp"
        alt="image"
      />
      <img
        style="max-width: 10em; min-width: 100%"
        src="../img/ichigo.jpg"
        alt="image2"
      />
    </div>
  </body>
</html>
